body{
  background-image: url("@{img-folder-path}bgimg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrapper{
  background: @body-bg;
  @media (min-width: @screen-md-min) {
    padding: 10px;
    margin-top: 36px;
  }
}