extends ../blocks/layout/layout

include ../blocks/main-content/main-content
include ../blocks/aside-content/aside-content

block content
    +maincontent()
        include ../blocks/breaking-news/breaking-news
    +asidecontent()