ul.nav.navbar-nav.social-nav
    li.social-nav__item.social-nav__item_tt
    li.social-nav__item.social-nav__item_fb
    li.social-nav__item.social-nav__item_hz
    li.social-nav__item.social-nav__item_fbl
    li.social-nav__item.social-nav__item_gp
