
// MAIN VARIABLES
@main-color:                                   #202021;
@main-color-decorating:                        #cf0000;
@main-grey-border-color:                       #bababa;
@img-folder-path:                              '../img/';

//________________________________________________________________________

// BOOTSTRAP VARIABLES

//== Scaffolding
@text-color:                              @main-color;

//== Typography
@font-family-base:                        'Arial', sans-serif;
@font-size-base:                          12px;

//== Components
@border-radius-base:                      0;
@border-radius-large:                     0;
@border-radius-small:                     0;

//== Grid system
@grid-gutter-width:                       20px;
@grid-columns:                            36;
@container-lg:                            980px;
@container-md:                            980px;

//== Navbar
@navbar-margin-bottom:                    15px;

// .navbar-default
@navbar-default-bg:                       @body-bg;
@navbar-default-border:                   transparent;
// .navbar-default > .navbar-nav > li > a
@navbar-default-link-color:               @main-color-decorating;
// .navbar-default > .navbar-nav > li > a :hover & :focus
@navbar-default-link-hover-color:         lighten(@main-color-decorating, 12%);

@navbar-default-toggle-border-color:      @main-color-decorating;
@navbar-default-toggle-icon-bar-bg:       @main-color;
@navbar-default-toggle-hover-bg:          @main-color-decorating;

//== Forms
@input-border:                            @main-grey-border-color;