@color-main:             #fff;
@color-secondary:        #202021;
@color-decorating:       #cf0000;
@color-bg:               #fff;

@gray:                   #bababa;
@gray--light:            #e4e4e4;

@font-size--main:        1.2rem;
@font-size--decorating:  1rem;
@font-size--label:       1.5rem;
@font-size--nav:         1.9rem;
@font-size--h2:          2.4rem;

@line-height--main:      1.2;

@img-folder-path:        '../img/';