.breaking-news {
  height: 315px;
  background-color: @color-secondary;
  overflow: hidden;
  position: relative;

  & > .report {
    padding-left: 11px;
    padding-right: 12px;
    padding-top: 13px;
    position: relative;

    & > .report__image {
      height: 283px;
      width: 523px;
      border: 3px solid #000;
    }

    & > .report__label {
      height: 36px;
      width: 523px;
      padding-top: 6px;
      background-color: rgba(0, 0, 0, .7);
      position: relative;
      bottom: 49px;
      left: 3px;

      & > p {
        margin-left: 143px;
        margin-right: 20px;
        margin-top: 0;
        margin-bottom: 0;
        color: @color-main;
        font-size: @font-size--nav;
        line-height: @line-height--main;
      }
    }
  }

  .breaking-news__feed {
    flex-direction: column;
    margin: 0;
    padding-top: 13px;

    & > .report {
      height: 67px;
      width: 107px;
      margin-bottom: 7px;

      &:nth-child(1) {
        height: 61px;
        width: 101px;
        border: 3px solid @color-decorating;
      }
    }
  }

  & > .main-button {
    height: 26px;
    width: 108px;
    font-size: @font-size--decorating;
    bottom: 0;
    left: 0;
  }
}


