mixin report(data)
    article.report
        if data.date
            .report__date
                = data.date
        if data.image
            img.report__image(src= data.image, alt= data.name)
        if data.label
            .report__label
                = data.label
        if data.text
            .report__text
                p= data.text
        if data.link
            .report__link
                a= data.link
        block