mixin report(data)
    article.report
        if data.time
            time.report__date
                = data.time
        if data.image
            img.report__image(
            src= data.image
            alt= data.name
            )
        if data.label
            mark.report__label
                = data.label
        if data.text
            p.report__text
                = data.text
        if data.link
            a.report__link
                = data.link
        block