.video-news {

  & > .news-block__content {
    height: 31.5rem;
    padding-left: 2rem;
    overflow: hidden;
    background-color: @gray--light;
    position: relative;

    .video-news__feed {

      & > .report {
        display: flex;
        padding-top: 1rem;
        padding-bottom: .8rem;
        position: relative;

        & > .report__image {
          height: 5.6rem;
          width: 6.8rem;
        }

        & > .report__label {
          padding-left: 1rem;
          padding-top: .6rem;
          font-weight: bold;
        }

        & > .main-button {
          left: 2.9rem;
          top: 3.2rem;
          background-color: transparent;
          background-image: url(../img/vide-news-input.png);
        }

        &:nth-child(3) {
          color: @color-decorating;
        }
      }
    }

    & > .main-button {
      height: 1.8rem;
      width: 6.1rem;
      bottom: 0;
      right: 0;
      font-size: @font-size--decorating;
    }
  }
}
