footer.navbar.navbar-default.footer
    .container.footer__wrap
        .navbar-collapse.text-capitalize.text-center
            include ../main-navbar/main-navbar
        p.footer__copyright.text-center
            | Copyright © 2011 The News Reporter Inc. All rights reserved.
            | Theme designed by GraphicsFuel.com
        p.footer__text.text-center
            | Reproduction in whole or in part in any form or medium
            | without express written permission of The News Reporter Inc.
            | is prohibited. The trade marks and images used in the design
            | are the copyright of their respective owners.
            | They are used only for display purpose.