.header {
  height: 6.3rem;
  margin-top: 1.6rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;

  & > .container {
    height: 6.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    overflow: hidden;
  }
}