.header-nav {
  padding: 0 1.5rem;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  overflow: hidden;

  .header-nav__list {
    display: flex;
    justify-content: flex-start;
  }

  .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: .8rem;
  }

  .nav-item__link {
    color: @color-decorating;
  }
}