include ../nav-item/nav-item

-
  var data = [
  {name: "home", url: '#', className: 'header-nav__item header-nav__item_active', linkClass: 'header-nav__linc header-nav__linc_active'},
  {name: "about us", url: '#', className: 'header-nav__item', linkClass: 'header-nav__linc'},
  {name: "contact us", url: '#', className: 'header-nav__item', linkClass: 'header-nav__linc'},
  {name: "subscribe", url: '#', className: 'header-nav__item', linkClass: 'header-nav__linc'},
  {name: "login", url: '#', className: 'header-nav__item', linkClass: 'header-nav__linc'}
  ];

ul.nav.navbar-nav.header-nav.text-capitalize
    each item in data
        +navitem(item.url, item.name, item.className, item.linkClass)