include ../nav-item/nav-item

-
  var data = [
  {name: "Home", url: '#', className: 'header-nav__item header-nav__item_active', linkClass: 'header-nav__linc-class header-nav__linc-class_active'},
  {name: "About Us", url: '#', className: 'header-nav__item', linkClass: 'header-nav__linc-class'},
  {name: "Contact Us", url: '#', className: 'header-nav__item', linkClass: 'header-nav__linc-class'},
  {name: "Subscribe", url: '#', className: 'header-nav__item', linkClass: 'header-nav__linc-class'},
  {name: "Login", url: '#', className: 'header-nav__item', linkClass: 'header-nav__linc-class'}
  ];

ul.nav.navbar-nav.header-nav
    each item in data
        +navitem(item.url, item.name, item.className, item.linkClass)